# login credentials
SAUCEDEMO_USERNAME_VALID=your_username
SAUCEDEMO_PASSWORD_VALID=your_password

# Negatif Kimlik Bilgileri
SAUCEDEMO_USERNAME_INVALID=your_username
SAUCEDEMO_PASSWORD_INVALID=your_password

# Ödeme Verileri (E2E senaryolarinda kullanilir)
SAUCEDEMO_FIRST_NAME=ali
SAUCEDEMO_LAST_NAME=can
SAUCEDEMO_POSTAL_CODE=34100

BASE_URL=https://www.saucedemo.com/

RESTFUL_BOOKER_USERNAME=your_username
RESTFUL_BOOKER_PASSWORD=your_password

